@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@implements IDisposable 
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
<nav style="background-color: #386641; display: flex; justify-content: flex-start; width: 100%;  z-index: 9999; position: fixed">
    <AuthorizeView Roles ="Administrator">
        <Authorized>
        <div>
            <a class="navbar-brand" , href="/">Dinesaur</a>
            <a class="nav-link" href="/Admin/Home">Home</a>
            <a class="nav-link" href="/TC">T & C</a>
        </div>
        </Authorized>

        <NotAuthorized>
            <div>
                <a class="navbar-brand" , href="/">Dinesaur</a>
                <a class="nav-link" href=@link>Home</a>
                <a class="nav-link" href="/TC">T & C</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
   
    <AuthorizeView Roles="@($"RestaurantStaff")">
        <div>
            <a href="/RestaurantStaff/Home"> Restaurant </a>
        </div>
    </AuthorizeView>
    <AuthorizeView>
        <Authorized>
            <div style="display: flex; gap: 800px;">
                <div>

                    <a href="/Account/Manage"> @displayName</a>
                </div>
                <div class="nav-item">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@url" />
                        <button type="submit" class="nav-link">
                            <span aria-hidden="true"></span> Log Out
                        </button>
                    </form>
                </div>
            </div>

    </Authorized>
   <NotAuthorized>
       <div style="margin-left: 1000px; display: flex">
            <div class="dropdown">
                <a href="">Sign Up</a>
    <div class="dropdown-content">
        <a  href="/Account/Register" style="color:black;"> Sign Up as a Customer</a>
                    <a href="/Account/RegisterRStaff" style="color:black;"> Sign Up as a Retaurant Staff</a>
    </div>

    
     

   </div>
   <div>
        <a href="/Account/login">Login</a>
    </div>
    </div>
    </NotAuthorized>
    </AuthorizeView>
</nav>

@code {
    private string? url = "";
    private string? link;
    private string? currentUrl ;
    private string? displayName;
    protected override async Task OnInitializedAsync()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        var user = (await Auth.GetAuthenticationStateAsync()).User;
        if (!user.Identity?.IsAuthenticated ?? true)
        {
            link = "Account/login";
        }
        else
        {
            link = "/";
        }
        if (!user.Identity?.IsAuthenticated ?? true) return;

        var aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        await using var db = await DbFactory.CreateDbContextAsync();
        var identityUser = await db.Users
            .Where(u => u.Id == aspNetUserId)
            .Select(u => u.Name)
            .SingleOrDefaultAsync();

        displayName = identityUser ?? user.Identity?.Name;
        
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}