@page "/restaurants/delete"
@using System.ComponentModel.DataAnnotations
@using Dinesaur.Components.Account
@using Dinesaur.Components.Account.Pages.Manage
@using Dinesaur.Domain
@using Microsoft.AspNetCore.Identity
@using Dinesaur.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject AuthenticationStateProvider authenticationStateProvider
@inject UserManager<DinesaurUser> UserManager
@inject SignInManager<DinesaurUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject NavigationManager NavigationManager
@inject ILogger<DeletePersonalData> Logger
@inject IJSRuntime JS
<PageTitle>Delete</PageTitle>
<container style="text-align: center;">
<h1 style="margin-top:40px;">Delete Restaurant</h1>
@* Deleting Restaurant also means deleting the account as the restaurant would be tied to the account holder *@
<hr />
<div>
    <h2> Your Restaurant is tied to your account </h2>
    <h2> Deleting your restaurant results in deleting your account as well </h2>
</div>
    <div>
        <EditForm Model="Input" FormName="delete-user" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            @if (requirePassword)
            {
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                    <label for="password" class="form-label">Password</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
            }
            <button class="w-100 btn btn-lg btn-danger" type="submit">Delete restaurant and account</button>
        </EditForm>
    </div>
    <br />
    @if(WrongPassword == true)
    {
        <div class="alert alert-success"> Wrong Password has been entered</div>
    }
</container>

@code {

    private DinesaurUser user = default!;
    private bool requirePassword,WrongPassword;
    private Restaurant restaurants = new();
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync() //gets all the details needed for deleting
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var userr = authState.User;
        var aspNetUserId = userr.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        Input ??= new();
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        requirePassword = await UserManager.HasPasswordAsync(user);
        using var context = DbFactory.CreateDbContext();
        await using var db = await DbFactory.CreateDbContextAsync();
        var restaurant = await db.Restaurant
        .Where(r => r.RestaurantOwnerID == aspNetUserId)
        .FirstAsync();
        restaurants = restaurant;
    }

    private async Task OnValidSubmitAsync() //deletes both restaurant and restaurant owner account
    {
        if (requirePassword && !await UserManager.CheckPasswordAsync(user, Input.Password))
        {
            WrongPassword = true;
            return;
        }
        using var context = DbFactory.CreateDbContext();
        var result = await UserManager.DeleteAsync(user);
        
        context.Restaurant.Attach(restaurants);
        context.Restaurant.Remove(restaurants);
        await context.SaveChangesAsync();
        if (!result.Succeeded)
        {
            throw new InvalidOperationException("Unexpected error occurred deleting.");
        }

        await SignInManager.SignOutAsync();

        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("User with ID '{UserId}' deleted themselves.", userId);

        NavigationManager.NavigateTo("/");
    }

    private sealed class InputModel
    {
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";
    }
}
