@page "/"
@using Dinesaur.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject UserManager<DinesaurUser> UserManager

<PageTitle>Dinesaur Home</PageTitle>
<style>
    h1 {
        color: #88E788;
        font-family: 'Bauhaus 93';
        text-align: center;
        
    }

    h2 {
        color: #FFFFFF;
        font-family: 'Calisto MT';
        font-weight: normal;
        text-align: center;
        
    }

    .btn{
        display: inline-block;
        padding: 15px 30px;
        margin: 15px;
        font-size: 30px;
        background-color: #386641;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Bauhaus 93'
    }

    .btn:hover {
        background-color: #2C5234;
        text-decoration: none;
        font-size: 30px;
        color: white;
        }

    a {
        text-decoration: none;
        color: white;
        font-family: 'Calisto MT';
        font-weight: bold;
    }
</style>
<body style="background-image: url('Images/DinesaurLandingPageTranslucent.jpg'); background-size: cover; background-repeat: no-repeat; height: 200px; text-align: center">
    <h1 style="margin-top: 150px;font-size: 150px">Dinesaur</h1>
    <h2 > Dining In Made Easier</h2>
   
    <a href=@url class="btn"; > @text </a>

    
   
</body>

<hr style="margin-top:500px;" />

@code {
    private string? url;
    private string text = "View Restaurants";
    private DinesaurContext context = default!;
    private DinesaurUser? role;
    protected override async Task OnInitializedAsync()
    {

        var user = (await Auth.GetAuthenticationStateAsync()).User;
        var aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        context = DbFactory.CreateDbContext();
        await using var db = await DbFactory.CreateDbContextAsync();
        var email = await db.Users
        .Where(u => u.Id == aspNetUserId)
        .Select(u => u.Email)
        .SingleOrDefaultAsync();
        if (email != null)
        {
            var userrole = await UserManager.FindByEmailAsync(email);
            role = userrole;
        }
        if (!user.Identity?.IsAuthenticated ?? true && email == null)
        {
            url = "Account/login";
        }
        else
        {
            if (await UserManager.IsInRoleAsync(role, "RestaurantStaff"))
            {
                url = "/RestaurantStaff/Home";
                text = "To Restaurant Staff Page";
            }
            else
            {
                url = "User/Home";
                text = "View Restaurants";
            }
            
        }
    }
}