@page "/TC/RStaff"
<PageTitle>Restaurant Staff T&C</PageTitle>
<container style="text-align:left;">
    <h1 style="margin-top:40px;">Terms and Conditions (Restaurant Staff)</h1>
    <hr style=" color:white;" />
    <ol style="color:lightgreen; font-size:30px; margin-left:20px;">
        <li> Food displayed on menus must match food served in the physical restaurant.</li>
        <li> No upcharging is allowed, food cost advertised on the site must match actual prices in the physical restaurant and vice versa.</li>
        <li> Image of food or logo of restaurant must be appropriate without copyright infringement.</li>
        <li> As a User you agree to let the site collect and display information about your restaurant details, that will be made avaliable to the public.  </li>
        <li> Terms & Conditions may or may not change subsequently in the future as see fit by admins.</li>
        <li> Your restaurant will be needed to be approved first before it will be displayed on the site. You can check the status in your home page.</li>
        
        <li> If you have any enquiries, please contact us at admin@localhost.com .</li>
        <li style="color:red"> Your Restaurant (food and interior) will be evaluated in person by a member of our team before approval, you will be informed via your email when the date of evalution is confirmed.</li>
    </ol>
    <h2> Failure to follow any of these terms & conditions will lead to swift action by admins.</h2>
</container>