@page "/Account/AccessDenied"

<PageTitle>Access Denied</PageTitle>

<div style="text-align:center;">
    <h1 style="margin-top:40px;" class="text-danger">You do not have access to this page</h1>
    <br />
    <a href="/" class="btn-primary" style="padding: 30px 32px; margin-top:30px;">Back to Home </a>
</div>
