@page "/Account/RegisterRStaff"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Dinesaur.Data
@using Microsoft.EntityFrameworkCore

@inject UserManager<DinesaurUser> UserManager
@inject IUserStore<DinesaurUser> UserStore
@inject SignInManager<DinesaurUser> SignInManager
@inject IEmailSender<DinesaurUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject RoleManager<IdentityRole> RoleManager
@inject DinesaurContext DbContext
<PageTitle>Register as Staff</PageTitle>

<h1 style="text-align:center; font-weight:bold; color:lightgreen; margin-top:40px">Register as a Restaurant Owner</h1>

<div class= "row">
    <div class= "col-md-6 offset-md-3">
        <StatusMessage Message = "@Message"/>
        <EditForm Model = "InputRStaff" asp-route-returnUrl = "@ReturnUrl" method = "post" OnValidSubmit = "RegisterUser" FormName = "register" >
            <DataAnnotationsValidator />
            <h2 style = "text-align:center; font-weight:bold; color:lightgreen"> Create a new account! </h2 >
            <hr/>
            <ValidationSummary class= "text-danger" role = "alert" />
            <div class= "form-floating mb-3" >
                <InputText @bind-Value = "InputRStaff.Email" class= "form-control" autocomplete = "username" aria - required = "true" placeholder = "name@example.com" />
                <label for= "email" > Email </label >
                <ValidationMessage For = "() => InputRStaff.Email" class= "text-danger" />
            </div >
            <div class= "form-floating mb-3" >
                <InputText @bind-Value = "InputRStaff.Name" class= "form-control"
                           autocomplete = "firstname" aria - required = "true" placeholder = "Bill" />
                <label for= "email" > Name </label >
                <ValidationMessage For = "() => InputRStaff.Name" class= "text-danger" />
            </div >
            <div class= "form-floating mb-3" >
                <InputText type = "password" @bind-Value = "InputRStaff.Password" class= "form-control" autocomplete = "new-password" aria - required = "true" placeholder = "password" />
                <label for= "password" > Password </label >
                <ValidationMessage For = "() => InputRStaff.Password" class= "text-danger" />
            </div >


            <div class= "form-floating mb-3" >
                <InputText type = "password" @bind-Value = "InputRStaff.ConfirmPassword" class= "form-control" autocomplete = "new-password" aria - required = "true" placeholder = "password" />
                <label for= "confirm-password" > Confirm Password </label >
                <ValidationMessage For = "() => InputRStaff.ConfirmPassword" class= "text-danger" />
            </div >
            <a href="/TC/RStaff" class="btn-primary">Click here to view T&C</a>
            <br />
            <button type = "submit" class= "w-100 btn btn-lg btn-primary" > Register </button >
        </EditForm>
    </div >


</div>

@code {
    private IEnumerable<IdentityError>? identityErrors;

[SupplyParameterFromForm]
private InputModelRStaff InputRStaff { get; set; } = new();

[SupplyParameterFromQuery]
private string? ReturnUrl { get; set; }

private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

public async Task RegisterUser(EditContext editContext)
{
    var user = CreateUser();

    await UserStore.SetUserNameAsync(user, InputRStaff.Email, CancellationToken.None);
    var emailStore = GetEmailStore();
    await emailStore.SetEmailAsync(user, InputRStaff.Email, CancellationToken.None);

    user.Name = InputRStaff.Name;
    

    var result = await UserManager.CreateAsync(user, InputRStaff.Password);

    if (!result.Succeeded)
    {
        identityErrors = result.Errors;
        return;
    }

    //add the restaurant staff role

    await UserManager.AddToRoleAsync(user, "RestaurantStaff");
    //add the user id as claim when user registers
    await UserManager.AddClaimAsync(user, new System.Security.Claims.Claim("userId",
    user.Id));


    Logger.LogInformation("User created a new account with password.");
        var appUser = new Dinesaur.Domain.DinesaurUserModel
        {
            DinesaurUserID = user.Id,
            DinesaurUserName = InputRStaff.Name,
            Email = InputRStaff.Email
        };
        DbContext.DinesaurUser.Add(appUser);
        await DbContext.SaveChangesAsync();
        var userId = await UserManager.GetUserIdAsync(user);
    var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
    code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
    var callbackUrl = NavigationManager.GetUriWithQueryParameters(
        NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
        new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

    await EmailSender.SendConfirmationLinkAsync(user, InputRStaff.Email, HtmlEncoder.Default.Encode(callbackUrl));

    if (UserManager.Options.SignIn.RequireConfirmedAccount)
    {
        RedirectManager.RedirectTo(
            "Account/RegisterConfirmation",
            new() { ["email"] = InputRStaff.Email, ["returnUrl"] = ReturnUrl });
    }

    await SignInManager.SignInAsync(user, isPersistent: false);
    RedirectManager.RedirectTo(ReturnUrl);
}

private DinesaurUser CreateUser()
{
    try
    {
        return Activator.CreateInstance<DinesaurUser>();
    }
    catch
    {
        throw new InvalidOperationException($"Can't create an instance of '{nameof(DinesaurUser)}'. " +
            $"Ensure that '{nameof(DinesaurUser)}' is not an abstract class and has a parameterless constructor.");
    }
}

private IUserEmailStore<DinesaurUser> GetEmailStore()
{
    if (!UserManager.SupportsUserEmail)
    {
        throw new NotSupportedException("The default UI requires a user store with email support.");
    }
    return (IUserEmailStore<DinesaurUser>)UserStore;
}

private sealed class InputModelRStaff
{
    [Required]
    [Display(Name = "Name")]
    public string Name { get; set; } = "";

 

    [Required]
    [EmailAddress]
    [Display(Name = "Email")]
    public string Email { get; set; } = "";

    [Required]
    [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
    [DataType(DataType.Password)]
    [Display(Name = "Password")]
    public string Password { get; set; } = "";

    [DataType(DataType.Password)]
    [Display(Name = "Confirm password")]
    [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
    public string ConfirmPassword { get; set; } = "";
}
}